<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body>
    <nav class="nav" id="nav">
        {{> nav }}
    </nav>
    <header class="header" id="header">
        {{> header }}
    </header>
    <section class="content" id="content">
        {{> content }}
    </section>
    <footer class="footer" id="footer">
        {{> footer }}
    </footer>
</body>
</html>