// fonts "MyriadProRegular" instead of "anisette std petite"
@font-face {
  font-family: "MyriadProRegular";
  src: url("../assets/fonts/MyriadProRegular.eot");
  src: url("../assets/fonts/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
  url("../assets/fonts/MyriadProRegular.woff") format("woff"),
  url("../assets/fonts/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

h1, h2, p, a {
  font-family: 'Heebo', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: $header_bg;
}

.container {
	width: 1140px;
	margin: 0 auto;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}