//nav
$nav_bg: #000;
$nav_text: #808080;
$logo_grey: #e6e6e6;
$logo_red : #ff1d25;

//header
$header_bg: #ccc;
$h1_text: #000;
$text: #333;
$ico_bg: #0071bc;
$ico_text: #ffffff;
$ico_bg_hover: #ff1d25;

//content
$sidebar_bg: #f2f2f2;
$content_info_bg: #3fa9f5;
$content_window: #000;
$window_text: #fff;