<div class="container d-flex">
    <div class="content__box">
        <div class="sidebar"></div>
        <div class="content__window">
            <div class="window"></div>
            <a href="##" class="content__info">
                <p class="content__text">שידורנו מתחיל עוד 40 דק’</p>
            </a>
        </div>
    </div>
</div>