<div class="container">
    <div class="header__content d-flex">
        <a href="##" class="header__text">
            <h1>'קדושים תהיו' | שיחה בענייני הפרשה ביידיש</h1>
            <p>י”ד אייר תש”פ | 7.5.2020 | 16:30</p>
            <h2>מאת ראש הישיבה מגור הגאון הרב שאול אלתר שליט"א | פרשת אחרי – קדושים תש"פ</h2>
        </a>
        <a href="##" class="ico">
            <span>
                שידור<br>חוזר
            </span>
        </a>
    </div>
</div>