<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="assets/css/style.min.css">
<title>{{ title }}</title>
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;900&display=swap" rel="stylesheet">
