<div class="container">
    <div class="nav__content d-flex">
        <div class="nav__left d-flex">
            <a href="##" class="logo">
                Spark
                <div class="logo__subtext logo__subtext_left">
                    LIVE
                </div>
            </a>
            <span>|</span> 
            <a href="##" class="events">
                Live<br>Events
            </a>
        </div>
        <div class="nav__right d-flex"">
            <a href="##" class="events">
                שידורים<br>חיים
            </a>
            <span>|</span> 
            <a href="##" class="logo logo__right">
                ספארק
                <div class="logo__subtext logo__subtext_right">
                    לייב
                </div>
            </a>
        </div>
    </div>
</div>