.content__box {
    display: flex;
    width: 100%;
}

.sidebar {
    flex: 1 1 330px;
    height: 468px;
    background-color: $sidebar_bg;
}

.content__window {
    text-align: center;
    flex: 1 1 770px;
}

.window {
    height: 435px;
    background-color: $content_window;
}

.content__text {
    line-height: 33px;
    font-size: 18px;
    color: $window_text;
    font-weight: 400;
    background-color: $content_info_bg;
}