.header {
    text-align: end;
}

.header__content {
    justify-content: flex-end;
    align-items: center;
}

.ico {
    margin: 40px 0 20px;
    width: 67px;
    height: 66px;
    background-color: $ico_bg;
    text-align: center;
    padding-top: 9px;
    margin-left: 13px;
    text-decoration: none;
}

.ico:hover {
    background-color: $ico_bg_hover;
}

.ico span {
    font-family: 'Heebo', sans-serif;
    color: $ico_text;
    font-weight: 900;
}

h1 {
    font-size: 24px;
    font-weight: 500;
    color: $h1_text;
}

p{
    font-size: 14px;
    font-weight: 400;
    color: $text;
}

h2 {
    font-size: 18px;
    font-weight: 400;
    color: $text;
}