.nav {
    background-color: $nav_bg;
    height: 80px;
    color: $nav_text;
}

.nav__content {
    justify-content: space-between;
}

.nav__left {
    align-items: center;
}

.nav__right {
    align-items: center;
    text-align-last: justify;
}

.nav__content span {
    font-family: 'Heebo', sans-serif;
    font-size: 48px;
    font-weight: 100;
    margin: 0 12px ;
}

.logo {
    text-decoration: none;
    font-family: 'MyriadProRegular',  sans-serif;
    font-weight: 400;
    font-size: 42.15px;
    color: $logo_grey;
}
.logo__right {
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    line-height: 50px;
}

.logo__subtext {
    font-family: 'MyriadProRegular',  sans-serif;
    font-size: 14px;
    color: $logo_red;
    line-height: 0px;
    text-align: end;
    margin-left: 10px;
}

.logo__subtext_left{
    font-size: 14px;
}

.logo__subtext_right{
    font-family: 'Heebo', sans-serif;
    font-weight: 900;
    font-size: 18px;
}

.events {
    text-decoration: none;
    color: $nav_text;
    line-height: 17px;
}